* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inconsolata', monospace;
}

.wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

ul {
  margin-top: 5px;
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline-block;
  margin-right: 3px;
}

a {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

u {
    text-decoration:underline;
    text-decoration-style: dashed;
}
